body {
    background-color:gray;
}

p{
    /* background-color:rgba(248, 248, 248, 0); */
    
    display:inline-block;
    height:100px;
}

/* classes */
.box{
    color:red;
    /* margin-top:32px;
    margin-bottom:32px;
    margin-left:20px;
    margin-right:20px; */
    margin: 50px 20px 30px 40px;
    padding: 10px 20px 30px 40px;
    /* border-width:3px;
    border-color:red;
    border-style: dotted; */
    border:3px red dotted;
    height:30px;
    width:30px;
}

.box:hover{
    color:white;
}
/* ID */
#container{
    color:lightblue;
}

img{
    width:100vw;
}

#hero-image{
    background-image:url("image/birthday-cake.jpg");
    height:100vh;
    width:90vw;
    background-repeat:no-repeat;
    background-position:center; 
    background-size:cover;
    background-attachment: fixed;
    opacity:0.5;
    display:inline-block;
    border-radius:1px;
}

#hero-image:hover{
    opacity:1;
}

#overlay{
    position:relative;
    bottom: 50px;
}

.box-flex{
    height:30px;
    width:30px;
    background-color: lightcoral;
    margin: 10px;
}

.container{
    display:flex;
}

.box-1{
    flex-grow:1;
}

.box-2{
    flex-grow:3;
}

.box-3{
    flex-grow:1;
}

.circle{
    background-color:red;
    margin: 50px 20px 30px 40px;
    /* padding: 10px 20px 30px 40px; */
    border:3px red dotted;
    border-radius: 15px;
    height:30px;
    width:30px;
    animation-name:move-circle;
    position:relative;
    animation-duration:3s;
    animation-fill-mode:forwards;
}

@keyframes move-circle{
    0%{
        left:0px;
        /* top:0vh; */
    }
    50%{
        top:50vh;
    }
    100%{
        left:300px;
        top:0vh;
    }
}

